In [1]:
# a = {}
# a = {<key>:<value>,<key>:<value>}

In [2]:
a = {"A":"Apple","B":"Ball"}
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [4]:
print(a['B'])

Ball

In [5]:
# Dict
# -Indexed
# -Unordered
# -Duplicate value but no duplicate key
# -Multple values
# -Mutable

In [7]:
a = {"A":"Apple","1B":"Ball"}
print(a)

{'A': 'Apple', 0: 'Ball'}

In [8]:
a = {"A":"Apple","1B":"Ball","a":"Apple"}
print(a)

{'A': 'Apple', '1B': 'Ball', 'a': 'Apple'}

In [12]:
a = {"A":"Apple","1B":"Ball","a":"Apple"}
a["A"] = "apple"
print(a)

{'A': 'apple', '1B': 'Ball', 'a': 'Apple'}

In [14]:
a = {}
a["a"] = "apple"
a["b"] = "ball"

print(a)

{'a': 'apple', 'b': 'ball'}

In [15]:
d = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9856554543
Enter name = Shyam
Enter phone = 9856554543
{'Ram': '9856554543', 'Shyam': '9856554543'}

In [16]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
a['Ram'] = 9856443321
print(a)

{'Ram': 9856443321, 'Shyam': '9856554543'}

In [17]:
for i in a:
    print(i)

Ram
Shyam

In [18]:
for i in a.values():
    print(i)

9856443321
9856554543

In [19]:
for i in a.items():
    print(i)

('Ram', 9856443321)
('Shyam', '9856554543')

In [22]:
a = {"A":"Apple","1B":"Ball","a":"Apple"}
b = {"C":"Cat","D":"Dog"}
a.update(b)
print(a)

{'A': 'Apple', '1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}

In [23]:
a = {'A': 'Apple', '1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}
del a['A']
print(a)

{'1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}

In [24]:
a = {'A': 'Apple', '1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}
a.pop('A')
print(a)

{'1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}

In [25]:
len(a)

4

In [31]:
l = []
a = {'1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}

for i in a.items():
    l.append(i)
    
print(l)

[('1B', 'Ball'), ('a', 'Apple'), ('C', 'Cat'), ('D', 'Dog')]

In [32]:
l = []
a = {'1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}

for i in a.items():
    l.append(list(i))
    
print(l)

[['1B', 'Ball'], ['a', 'Apple'], ['C', 'Cat'], ['D', 'Dog']]

In [29]:
d = {}
a = [('1B', 'Ball'), ('a', 'Apple'), ('C', 'Cat'), ('D', 'Dog')]
for i in a:
    key = i[0]
    value = i[1]
    d[key] = value
print(d)

{'1B': 'Ball', 'a': 'Apple', 'C': 'Cat', 'D': 'Dog'}

In [33]:
# key - imputable
# value - all datatype

In [35]:
a = {("a",):"Apple","b":"Ball"}

In [37]:
# list inside Dictionary
d = {"A":["Apple","Ant"],"B":["Ball","Bat"]}
for i in d.items():
    print(i)

('A', ['Apple', 'Ant'])
('B', ['Ball', 'Bat'])

In [39]:
d["C"] = ["Cat","Cab"]
print(d)

{'A': ['Apple', 'Ant'], 'B': ['Ball', 'Bat'], 'C': ['Cat', 'Cab']}

In [41]:
a = {'A': ['Apple', 'Ant'], 'B': ['Ball', 'Bat'], 'C': ['Cat', 'Cab']}
a['A'].append('apple')
print(a)

{'A': ['Apple', 'Ant', 'apple'], 'B': ['Ball', 'Bat'], 'C': ['Cat', 'Cab']}

In [42]:
d = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    nt_phone = input("Enter ntc phone = ")
    nc_phone = input("Enter ncell phone = ")
    d[name] = [nt_phone,nc_phone]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9856454323
Enter ncell phone = Shyam
Enter name = 9856554543
Enter ntc phone = 9756554543
Enter ncell phone =  9845443432
{'Ram': ['9856454323', 'Shyam'], '9856554543': ['9756554543', ' 9845443432']}

In [45]:
d = dict()
nt =[]
nc = []
n = int(input("Enter n = "))
for i in range(n):
#     name = input("Enter name = ")
    nt_phone = input("Enter ntc phone = ")
    nc_phone = input("Enter ncell phone = ")
    nt.append(nt_phone)
    nc.append(nc_phone)
    
d["Ncell"] = nc
d["NTC"] = nt
    
print(d)

Enter n = 2
Enter ntc phone = 6456465
Enter ncell phone = 345345
Enter ntc phone = 56654
Enter ncell phone = 3534
{'Ncell': ['345345', '3534'], 'NTC': ['6456465', '56654']}

In [46]:
# dictionary inside list
a = [{"Name":"Ram","NTC":9856445432,"NCELL":9856554543},
     {"Name":"Shyam","NTC":9856445433,"NCELL":9856554544}]
len(a)

2

In [47]:
b = {"Name":"Shyam","NTC":9856445433,"NCELL":9856554544}
a.append(b)
print(a)

[{'Name': 'Ram', 'NTC': 9856445432, 'NCELL': 9856554543}, {'Name': 'Shyam', 'NTC': 9856445433, 'NCELL': 9856554544}, {'Name': 'Shyam', 'NTC': 9856445433, 'NCELL': 9856554544}]

In [50]:
for i in a:
    print(i)

{'Name': 'Ram', 'NTC': 9856445432, 'NCELL': 9856554543}
{'Name': 'Shyam', 'NTC': 9856445433, 'NCELL': 9856554544}
{'Name': 'Shyam', 'NTC': 9856445433, 'NCELL': 9856554544}

In [54]:
a[0]["Name"] = "Ram Prasad"
a

[{'Name': 'Ram Prasad', 'NTC': 9856445432, 'NCELL': 9856554543},
 {'Name': 'Shyam', 'NTC': 9856445433, 'NCELL': 9856554544},
 {'Name': 'Shyam', 'NTC': 9856445433, 'NCELL': 9856554544}]

In [1]:
# # dict inside dicts
# a = {<key>:<Dicts>,<Key>:<Dicts>}
a = {"Ram":{"NTC":9856554543,"NCELL":9808445432},
    "Shyam":{"NTC":9856004543,"NCELL":9808005432}}
print(a)

{'Ram': {'NTC': 9856554543, 'NCELL': 9808445432}, 'Shyam': {'NTC': 9856004543, 'NCELL': 9808005432}}

In [2]:
a["Hari"] = {"NTC":9867665643,"NCELL":9808445432}
print(a)

{'Ram': {'NTC': 9856554543, 'NCELL': 9808445432}, 'Shyam': {'NTC': 9856004543, 'NCELL': 9808005432}, 'Hari': {'NTC': 9867665643, 'NCELL': 9808445432}}

In [4]:
d = {}
n = int(input("Entre n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter NTC no = ")
    ncell = input("Enter NCELL no = ")
    key = name
    value = {'NTC':ntc,"NCELL":ncell}
    d[key] = value
print(value)

Entre n = 2
Enter name = Ram
Enter NTC no = 45646565
Enter NCELL no = 5656465
Enter name = Shyam
Enter NTC no = 645645
Enter NCELL no = 456456
{'NTC': '645645', 'NCELL': '456456'}

In [5]:
print(d)

{'Ram': {'NTC': '45646565', 'NCELL': '5656465'}, 'Shyam': {'NTC': '645645', 'NCELL': '456456'}}

In [8]:
name = input("Enter name = ")

Enter name = Ram

In [9]:
print(d[name])

{'NTC': '45646565', 'NCELL': '5656465'}

In [11]:
a = {'Ram': {'NTC': '45646565', 'NCELL': '5656465'}, 'Shyam': {'NTC': '645645', 'NCELL': '456456'}}
a['Ram']['Land'] = 4437889
print(a)

{'Ram': {'NTC': '45646565', 'NCELL': '5656465', 'Land': 4437889}, 'Shyam': {'NTC': '645645', 'NCELL': '456456'}}