In [1]:
# python collections
# list
# tuples
# dictionary
# set

In [3]:
# list
a = []
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9]
print(type(a))

<class 'list'>

In [5]:
l = "Hello World"
print(len(l))

11

In [7]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(b))

3
9

In [ ]:
# list
# -index
# -duplicate members
# -ordered
# -mutable

In [10]:
a = ["Apple","Ball","Cat"]
a[1]

'Ball'

In [12]:
a = ["Apple","Ball","Cat",1,2,3,4,5]
a[0:7]

['Apple', 'Ball', 'Cat', 1, 2, 3, 4]

In [13]:
a = ["Apple","Ball","Cat",1,2,3,4,5]
a[0:7:2]

['Apple', 'Cat', 2, 4]

In [14]:
a = [3,4,2,5,7,3,7,8,2,5]
print(a)

[3, 4, 2, 5, 7, 3, 7, 8, 2, 5]

In [15]:
a = ["Apple","Ball","Cat"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [16]:
a = ["Apple","Ball","Cat"]
a

['Apple', 'Ball', 'Cat']

In [18]:
a = ["Apple","Ball","Cat"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat']

In [19]:
a = [1,2,3,4]
b = [5,6,7,8]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
a = []
b = ["Apple"]
c = a+b
print(c)

['Apple']

In [22]:
y = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = y+[x]
print(y)

Enter n = 5
Enter x = 3
[3]
Enter x = 5
[3, 5]
Enter x = 6
[3, 5, 6]
Enter x = 3
[3, 5, 6, 3]
Enter x = 6
[3, 5, 6, 3, 6]

In [24]:
y = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = y+[x]
print(y)
print("The max is =",max(y))
print("The min is =",min(y))
print("The sum is =",sum(y))

Enter n = 5
Enter x = 2
Enter x = 6
Enter x = 8
Enter x = 4
Enter x = 6
[2, 6, 8, 4, 6]
The max is = 8
The min is = 2
The sum is = 26

In [27]:
a = [4,5,8,4,5,7,3,8,9,4]
a.sort()
print(a)
a.reverse()
print(a)

[3, 4, 4, 4, 5, 5, 7, 8, 8, 9]
[9, 8, 8, 7, 5, 5, 4, 4, 4, 3]

In [30]:
a = ["Apple","Zebra","Ball","Xray"]
a.sort()
a

['Apple', 'Ball', 'Xray', 'Zebra']

In [34]:
# CRUD
a = ["Apple","Zebra","Ball","Xray"]
for i in range(len(a)):
    print(a[i])

Apple
Zebra
Ball
Xray

In [32]:
a = ["Apple","Zebra","Ball","Xray"]
for i in a:
    print(i)

Apple
Zebra
Ball
Xray

In [37]:
a = ["Apple","Zebra","Ball","Xray","Apple"]
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))

Yes
2

In [38]:
def area(x):
    a,b = x
    ar = a*b
    print(ar)

area([5,6])

30

In [40]:
# append() insert()
a = [1,2,3,4,5]
a.append(6)

print(a)

[1, 2, 3, 4, 5, 6]

In [41]:
a = ["Apple","Zebra","Ball","Xray","Apple"]
a.insert(1,"Ant")
print(a)

['Apple', 'Ant', 'Zebra', 'Ball', 'Xray', 'Apple']

In [43]:
y = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y.append(x)
print(y)

Enter n = 5
Enter x = 23
Enter x = 43
Enter x = 32
Enter x = 54
Enter x = 34
[23, 43, 32, 54, 34]

In [44]:
a = ["Apple","Ball","Cat"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat']

In [46]:
a = ["Apple","Ball","Cat"]
a[0].upper()

'APPLE'

In [ ]:
a = ["Apple","Ball","Cat"]
a[0] = "Ant"
a

In [52]:
a = ["apple","ball","ant"]
b = []
for i in range(3):
    x = a[i][0].upper() +a[i][1:]
    b.append(x)
print(b)

['Apple', 'Ball', 'Ant']

In [2]:
# del remove() pop()
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
del a[0]
print(a)

['Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [3]:
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
del a[0:5]
print(a)

['Cat']

In [4]:
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
del a[0:5:2]
print(a)

['Ball', 'Apple', 'Cat']

In [5]:
a = [1,2,3,4,5,6,7,8,9]
a.remove(6)
print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [8]:
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [13]:
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
n = a.count("Apple")
for i in range(n):
    a.remove('Apple')
    
print(a)

['Ball', 'Cat', 'Apple', 'Ball', 'Cat']
['Ball', 'Cat', 'Ball', 'Cat']

In [15]:
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
b = []
for i in a:
    if i != "Apple":
        b.append(i)
print(b)

['Ball', 'Cat', 'Ball', 'Cat']

In [16]:
# pop()
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
a.pop()
print(a)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball']

In [17]:
# pop()
a = ['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
b = a.pop(0)
print(b)
print(a)

Apple
['Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [19]:
# list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)
len(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

3

In [24]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(a[0][0])

1

In [27]:
a = [[1,2,3]]
b = [[4,5,6]]
print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [29]:
a = [["Aayush",9800000,'Nepal'],
    ["Ram",9845443432,'USA']]
a[1]

['Ram', 9845443432, 'USA']

In [30]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append( data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Patan
[['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan']]

In [31]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan']]
index = int(input("Enter index = "))
print(a[index])

Enter index = 1
['Shyam', 78, 'Patan']

In [35]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan']]
name = input("Enter index = ")
for i in a:
    if name in i:
        print("Yes")
        print(i)

Enter index = Ram
Yes
['Ram', 67, 'Kathmandu']

In [36]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan']]
b = ["Sita",45,"Siraha"]
a.append(b)
print(a)

[['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45, 'Siraha']]

In [38]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45, 'Siraha']]
a[2] = ['Sarita',34,'Jhapa']
a

[['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sarita', 34, 'Jhapa']]

In [41]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45, 'Siraha']]
a[2][1] = 55
print(a)

[['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 55, 'Siraha']]

In [44]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45, 'Siraha']]
del a[2][2]
print(a)

[['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45]]

In [45]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45, 'Siraha']]
for i in a:
    print(i)

['Ram', 67, 'Kathmandu']
['Shyam', 78, 'Patan']
['Sita', 45, 'Siraha']

In [46]:
# index()
a = ["Apple","Ball","Cat","Apple"]
a.index("Ball")

1

In [47]:
# index()
a = ["Apple","Ball","Cat","Apple"]
a.index("Apple")

0

In [48]:
a = ["Apple","Ball","Cat","Apple"]
for i in range(len(a)):
    if a[i] == "Apple":
        print(i)

0
3

In [50]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 78, 'Patan'], ['Sita', 45, 'Siraha']]
n = len(a)
for i in range(n):
    if "Sita" in a[i]:
        print(i,a[i])

2 ['Sita', 45, 'Siraha']

In [ ]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append( data)
    
print(info)

In [52]:
# name
# price 
# quantity
# total
info = []
net_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    data = [name,price,quantity,total]
    info.append(data)
    net_total = net_total+total
print(info)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 100
Enter quantity = 3
[['Apple', 300, 2, 600], ['Banana', 100, 3, 300]]

In [53]:
print(net_total)

900

In [55]:
a = [['Apple','100'], ['Banana',50]]
name = "Banana"
for i in a:
    if name in i:
        print(i[1])

50

In [59]:
# name
# price 
# quantity
# total
a = [['Apple',100], ['Banana',50]]
def product_price(name):
    for i in a:
        if name in i:
            return i[1]
        
info = []
net_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = product_price(name)
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    data = [name,price,quantity,total]
    info.append(data)
    net_total = net_total+total
print(info)

Enter n = 2
Enter name = Apple
Enter quantity = 3
Enter name = Banana
Enter quantity = 5
[['Apple', 100, 3, 300], ['Banana', 50, 5, 250]]