In [2]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class430"
    )
db = database.cursor()

In [2]:
db.execute("SELECT * FROM bill")
result = db.fetchall()
print(result)

[(1, 'Coke', 100, 2, 200), (2, 'Momo', 100, 3, 300), (3, 'Chowmin', 150, 2, 300), (4, 'Fanta', 50, 4, 200), (5, 'Slice', 100, 4, 400)]

In [3]:
db.execute("SELECT * FROM bill WHERE name = 'momo'")
result = db.fetchall()
print(result)

[(2, 'Momo', 100, 3, 300)]

In [4]:
db.execute("SELECT * FROM bill WHERE price > 100")
result = db.fetchall()
print(result)

[(3, 'Chowmin', 150, 2, 300)]

In [7]:
db.execute("SELECT * FROM bill WHERE price >= 100 and quantity = 4")
result = db.fetchall()
print(result)

[(5, 'Slice', 100, 4, 400)]

In [14]:
name = input("Enter name = ")
price = int(input("Enter price = "))
quantity = int(input("ENter quantity = "))
total = price*quantity
sql = f"INSERT INTO bill(name, price, quantity, total) VALUES ('{name}','{price}','{quantity}','{total}')"
print(sql)
db.execute(sql)
database.commit()

Enter name = Salad
Enter price = 100
ENter quantity = 2
INSERT INTO bill(name, price, quantity, total) VALUES ('Salad','100','2','200')

In [13]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("ENter quantity = "))
    total = price*quantity
    sql = f"INSERT INTO bill(name, price, quantity, total) VALUES ('{name}','{price}','{quantity}','{total}')"
    print(sql)
    db.execute(sql)
database.commit()

In [14]:
quantity = 3
price = 100
total = 300
sql = "UPDATE bill SET quantity = 3 , total = 300 WHERE name = 'Coke' "
print(sql)
db.execute(sql)
database.commit()

UPDATE bill SET quantity = 3 , total = 300 WHERE name = 'Coke'

In [3]:
sql = f"DELETE FROM bill WHERE name = 'Salad'"

db.execute(sql)
database.commit()

In [ ]:
# WAP For Student management system to entry,read,update and delete the student record
# WAP for hotel management system (billing) (entry,read,update,delete)