In [1]:
a = "Hello World"
b = "10"
c = "10.4"
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
# imutable

In [4]:
a = "Python"
print(a[0])

P

In [11]:
a = "Hello I am Python"
print(a[0:5])

Hello

In [13]:
a = "Hello I am Python"
print(a[5:])

 I am Python

In [15]:
a = "Hello I am Python"
print(a[0:15:2])

HloIa yh

In [19]:
a = "Hello I am Python"
b = a[0:11]
c = "Java"
d = b+c
print(d)

Hello I am Java

In [30]:
a = "Python"
# n = len(a)
# print(n)
b = a[5::-1]
b

'nohtyP'

In [31]:
a = "Apple"
b = "Ball"
c = a+b
print(c)

AppleBall

In [34]:
a = "Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [35]:
# String formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Aayush
Enter age = 10
Enter add = Kathmandu
Hello I am Aayush. I am from Kathmandu. I am 10

In [47]:
n = int(input("Enter n = "))
data = str()
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    data = data+info
    
    print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9856554543
Ram 9856554543

Enter name = Shyam
Enter phone = 9845443432
Ram 9856554543
Shyam 9845443432

In [37]:
# replace()
a = "Ram-9756554543 Shyam-9845443432"
b = a.replace("Ram","Uttam")
print(b)

Uttam-9756554543 Shyam-9845443432

In [40]:
a = "Ram Shyam Hari Sita Gita"
b = a.replace("Ram","")
print(b)
print(a)

 Shyam Hari Sita Gita
Ram Shyam Hari Sita Gita

In [41]:
# replace()
a = "Ram-9756554543 Shyam-9845443432"
b = a.replace("Ram-9756554543","")
print(b)

 Shyam-9845443432

In [42]:
a = "Ram Shyam Hari Sita Gita"
if "Ram" in a:
    print("Yes")

Yes

In [44]:
a = "Ram Shyam Hari Sita Gita Ram"
a.count("Ram")

2

In [50]:
a = "Ram Shyam Hari Sita Gita ram"
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
1

In [48]:
a = "Python"
print(a.upper())

'PYTHON'

In [49]:
a = "Python"
print(a.lower())

python

In [ ]:
# WAP to search any data or value form record which is not case sensitive
a = "Ram Shyam Hari Sita Gita ram"
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

In [3]:
# WAP to search any data or value form record which is not case sensitive
a = "Ram Shyam Hari Sita Gita ram"
b = a.lower()
name = input("Enter name = ")
if name.lower() in b:
    print("Yes")
    print(b.count(name))

Enter name = ram
Yes
2