In [1]:
# Tuple
# -Indexed
# -Ordered
# -Duplicate
# -Imutable

In [3]:
a = tuple()
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [4]:
a = ("Apple","Ball","Cat","Dog")
print(a[0])

Apple

In [5]:
a = ("Apple","Ball","Cat","Dog")
print(a[0:3])

('Apple', 'Ball', 'Cat')

In [6]:
a = ("Apple","Ball","Cat","Dog")
print(a[0:4:2])

('Apple', 'Cat')

In [7]:
a = ("Apple","Ball","Cat","Dog")
print(a)

('Apple', 'Ball', 'Cat', 'Dog')

In [8]:
a = (1,2,3)
b = (4,3,2)
print(a+b)

(1, 2, 3, 4, 3, 2)

In [9]:
a = (1,2,3)
b = (4,3,2)
print(b+a)

(4, 3, 2, 1, 2, 3)

In [13]:
a = ("HelloWorld",)
b = (3,)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [11]:
a = tuple()
b = 3
c = a+(b,)
print(c)

(3,)

In [14]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input('Enter x = '))
    t = t+(x,)
    
print(t)

Enter n = 5
Enter x = 2
Enter x = 4
Enter x = 6
Enter x = 4
Enter x = 4
(2, 4, 6, 4, 4)

In [15]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input('Enter x = ')
    t = t+(x,)
    
print(t)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
('Apple', 'Ball', 'Cat')

In [16]:
# + *
a = (1,2,3)
b = (2,3,4)
c = a+b
print(c)

(1, 2, 3, 2, 3, 4)

In [17]:
a= (1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [18]:
a = ('Apple', 'Ball', 'Cat')
for i in a:
    print(i)

Apple
Ball
Cat

In [19]:
a = ('Apple', 'Ball', 'Cat','Dog',"Fish")
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))

Yes
1

In [21]:
# min max sum sorted
a = (234,45,67,34,56,34,64)
print(min(a))
print(max(a))
print(sum(a))

34
234
534

In [24]:
a = ('Apple', 'Ball', 'Cat','Dog',"Fish")
i = a.index("Cat")
b = a[:2]
c = a[3:]
d = b+c
print(d)

('Apple', 'Ball', 'Dog', 'Fish')

In [27]:
a = ('Apple', 'Ball', 'Cat','Dog',"Fish")
b = list(a)
b[2] = 'cat'
c = tuple(b)
print(c)

('Apple', 'Ball', 'cat', 'Dog', 'Fish')

In [28]:
a = ('Apple', 'Ball', 'Cat','Dog',"Fish")
b = list(a)
del b[2]
c = tuple(b)
print(c)

('Apple', 'Ball', 'Dog', 'Fish')

In [31]:
# tuple inside tuple
# a = (1,2,3,4,5,6,7,8,9)

a = ((1,2,3),(4,5,6),(7,8,9))
print(a[0][0])

1

In [33]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
c = a+b
print(c)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [34]:
info = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = ((name,age,add),)
    info = info+data
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Patan
(('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan'))

In [35]:
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan'))
list(a)

[('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan')]

In [36]:
# tuple inside list
# add update delete read for all list elements(tuple) but not inside tuple
a = [('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan')]
b = ('Hari',34,'Sihara')
a.append(b)
print(a)

[('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan'), ('Hari', 34, 'Sihara')]

In [38]:
a = [('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan')]
a[0]=('Ram Prasad', 34, 'Kathmandu')
print(a)

[('Ram Prasad', 34, 'Kathmandu'), ('Shyam', 78, 'Patan')]

In [40]:
# list inside tuple
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 78, 'Patan'])
print(a[0])

['Ram', 34, 'Kathmandu']

In [43]:
# list inside tuple
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 78, 'Patan'])
a[0][0] = "Ram Prasad"
print(a)

(['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 78, 'Patan'])

In [45]:
# list inside tuple
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 78, 'Patan'])
del a[0][2]
print(a)

(['Ram', 34], ['Shyam', 78, 'Patan'])

In [50]:
# convert tuple inside tuple to list inside list
l = []
a = ((1,2,3),(4,5,6),(7,8,9))
b = list(a)
print(b)
for i in range(len(b)):
    x = list(b[i])
    l.append(x)
print(l)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
# convert tuple inside tuple to list inside list
l = ()
a = [[1,2,3],[4,5,6],[7,8,9]]
b = tuple(a)
print(b)
for i in range(len(b)):
    x = (tuple(b[i]),)
    l = l+x
print(l)

([1, 2, 3], [4, 5, 6], [7, 8, 9])
((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
# WAP to make result management system (name,marks,per,total,grade)